<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <form action="/ta02/addUser" method="POST">
          <label for="name">Add User</label>
          <input class="ta02input" type="text" name="username">
          <button class="ta02button" type="submit">Add To Users</button>
        </form>
        <form action="/ta02/removeUser" method="POST">
          <label for="remName">Remove User</label>
          <input class="ta02input" type="text" name="remUsername">
          <button class="ta02button" type="submit">Remove User</button>
          </form>
      </div>
    </div>
    <div>
      <!-- checks boolean values from js file to see if user exists on users array, if user appears on list when trying to add additional user, displays error below.  -->
      <% if(userExists) { %>
        <h2 class="ta02__user-exists">User Already Exists</h2> 
      <% } %>
      <!-- checks boolean values from js file to see if user exists on users array, if user does not appear on list when trying to remove a user, displays error below.  -->
      <% if(noUser) { %>
        <h2 class="ta02__no-user">No User Found</h2>
      <% } %>
    </div>
    <div class="container">
      <h2>Users: </h2>
      <!-- checks to see if users array is empty, if not, loops through and displays, if not displays message. -->
      <% if (users.length > 0) { %>
        <ul>
            <% users.forEach((user) => { %>
                <li><%= user.name %></li>
            <% }) %>
        </ul>
      <% } else { %>
        <h1>No Users Found!</h1>
      <% } %>
    </div>

</body>
</html>