<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <form action="/ta02/addUser" method="POST">
          <label for="name">Add User</label>
          <input class="ta02input" type="text" name="username">
          <button class="ta02button" type="submit">Add To Users</button>
        </form>
        <form action="/ta02/removeUser" method="POST">
          <label for="remName">Remove User</label>
          <input class="ta02input" type="text" name="remUsername">
          <button class="ta02button" type="submit">Remove User</button>
          </form>
      </div>
    </div>
    <div class="container">
      <% if (users.length > 0) { %>
        <ul>
            <% users.forEach((user) => { %>
                <li><%= user.name %></li>
            <% }) %>
        </ul>
      <% } else { %>
        <h1>No Users Found!</h1>
      <% } %>
    </div>
    <% if(userExists) { %>
      <h2>User Already Exists!</h2>
      <!-- <script type="javascript">
        showAlert('User Exists!');

        showAlert = (err) => {
          window.alert(err);
        }
      </script> -->
    <% } %>
</body>
</html>